.linkdin{
    align-items: center;
    margin-left: 300px;
    margin-top: 200px;
}
.gfg{
    align-items:center;
    margin-top: 200px;
}
.insta{
    align-items: center;
    margin-top: 200px;
}
.github{
    align-items: center;
    margin-top: 200px;
}
table{
    border: 2px;
    border-color: red;
}
.head1{
    
    align: center;
    font-size: 24pz;
    /* margin-left: 05; */
}
p {
    text-align: center;
    color: red;
}
body{
    background-image: url("1.png");
}